*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

Gemfile.lock
fastlane/metadata
fastlane/README.md
fastlane/report.xml

/.bundle
/vendor
/.settings
/.project
